:root {
    --gov-blue: #003475;
    --navy: #002e94;
    --blue: #083aa9;
    --white: #fff;
    --lightgrey-200: #ecebec;
    --lightgrey-300: #cdccce;
    --lightgrey-500: #99989c;
    --yellow: rgb(130, 130, 4);
    --green: #006736;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header styling */
header {
    width: 100%;
    height: 105px;
    border-bottom: 10px solid var(--blue);
}

header .img-gov {
    height: 100px;
    width: auto;
}

nav {
    width: 80%;
}

/* footer styling */
footer {
    width: 100%;
    border-top: 10px solid var(--blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    height: 75px;
    width: auto;
}

footer a:visited {
    color: var(--blue);
}

/* main styling */
aside {
    flex: 25%;
}

aside a:visited {
    color: var(--white);
}

main {
    flex: 75%;
}

/* stepper styling */
.stepper-circle {
    width: 30px;
    height: 30px;
    color: var(--white);
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: var(--lightgrey-300);
}

.stepper-border-bottom {
    display: block;
    content: '';
    border-bottom: 1px solid var(--lightgrey-300);
}

.active {
    background-color: var(--gov-blue);
}

/* general styling */

/* displays */
.d-block {
    display: block;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.flex-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.flex-grow-1 {
    flex-grow: 1;
}

/* backgrounds */
.bg-gov-blue {
    background-color: var(--gov-blue);
}

.bg-green {
    background-color: var(--green);
}

.bg-lightgrey-300 {
    background-color: var(--lightgrey-300);
}

.bg-yellow {
    background-color: var(--yellow);
}

/* text-styling */
.font-size-075 {
    font-size: .75rem;
}

.font-size-1 {
    font-size: 1rem;
}

.font-size-2 {
    font-size: 2rem;
}

.text-lightgrey-200 {
    color: var(--lightgrey-200);
}

.text-white {
    color: var(--white);
}

.text-yellow {
    color: var(--yellow);
}

.text-center {
    text-align: center;
}

/* margins and paddings */
.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.mr-1 {
    margin-right: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.pl-1 {
    padding-left: 1rem;
}

/* borders */
.border {
    border-style: solid;
    border-width: 1px;
}

.border-white {
    border-color: var(--white);
}

.border-radius-15 {
    border-radius: 15%;
}

.border-lightgrey-200 {
    border-color: var(--lightgrey-200);
}

/* links - Lists */
.list-style-none {
    list-style: none;
}

.text-decoration-none {
    text-decoration: none;
}